.container {
  padding: 20px;
  font-size: 12px;
}
.watchlist {
  margin-top: 20px;
  border: 1px solid #808080;
  border-radius: 10px;
}
.watchlist__td{
  padding: 10px;
  width: 100px;
}
.watchlist__del {
  width: 50px;
}
.watchlist__del_btn {
  background: none;
  border: 0;
}
.material-symbols-outlined {
  font-size: 20px;
}
.addform__input {
  padding: 10px;
  width: 100px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-right: 10px;
}
.addform__submit {
  padding: 10px;
  width: 50px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-right: 10px;
}
